$background: rgb(158, 162, 163);
$margin: 0 auto;

body {
    background-color: $background;
}

.form-container {
    max-width: 300px;
    padding: 1rem;
}

.card {
    margin: $margin;
}

.nav-tabs {
    display: flex;
    justify-content: center;
}

form button {
    margin-top: 4px;
}

.row img {
    max-width: 300px;
    height: 200px;
}