$background: rgb(33, 32, 33);

body {
    background-color: $background;
}

.card {
    margin: 0 auto;
}

.card img {
    height: 160px;
}

.nav-tabs {
    display: flex;
    justify-content: center;
}

.newcard img {
    height: 410px;
}

form button {
    margin-top: 4px;
}