$background: black;

body {
    background-color: $background;
}

.card {
    margin: 0 auto;
}

.card img {
    height: 160px;
}

.nav-tabs {
    display: flex;
    justify-content: center;
}

.newcard img {
    height: 380px;
}